/* global box-sizing */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 36px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.56);
  font-weight: normal;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
  color: #6A6A6A;
  margin: 0;
}

label {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.56);
  margin-bottom: 2px;
}

input[type="text"], input[type="email"] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 16px 10px 16px;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.full-width {
  width: 100%;
}

.none {
  display: none;
}

/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: block;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  display: block;
  max-width: 100%;
  vertical-align: bottom;
}

.fit-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 100%;
}

input:focus {
  outline: 0;
}

header, footer {
  display: block;
}

.delimiter-line {
  height: 3px;
  background: #DADADA;
  margin: 28px 0 12px 0;
}

/* buttons */
.tool-button {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.tool-button-edit {
  background: url(../img/edit.svg) no-repeat center;
}

.tool-button-delete {
  background: url(../img/delete.svg) no-repeat center;
}

.tool-button-delete-svg svg {
  display: block;
  width: 100%;
  height: 100%;
}

.button {
  border: 1px solid #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 17px 0 17px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #999999;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.button.button-add {
  padding-right: 50px;
}

.button .add-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  right: 17px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.button .add-icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 4px;
  border-radius: 6px;
  background: #999999;
}

.button .add-icon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 6px;
  background: #999999;
}

.button.button-grey {
  border-color: #DEDEDE;
  background: #EBEBEB;
}

.button.button-small {
  height: 30px;
  padding: 0 9px 0 9px;
}

.button.button-small.button-add {
  padding-right: 28px;
}

.button.button-small .add-icon {
  right: 9px;
  width: 14px;
  height: 14px;
}

/* End buttons */
/* Camera options */
.camera-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.camera-options .camera-status {
  position: relative;
  padding: 0 32px 0 0;
}

.camera-options .camera-status::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.camera-options .camera-status.camera-status-on::after {
  background: #00BF2A;
}

.camera-options .camera-status.camera-status-off::after {
  background: #BF0000;
}

/* End camera options */
/* camera settings list */
.camera-settings-list .camera-settings-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.camera-settings-list .camera-settings-item:first-child {
  margin-top: 0;
}

.camera-settings-list .camera-settings-title {
  font-size: 22px;
  line-height: 20px;
  color: #6A6A6A;
}

.camera-settings-list .camera-setting-status {
  margin-left: 20px;
}

/* End camera settings list */
.app-container {
  margin: 0 auto;
  min-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.left-content-section {
  min-width: 320px;
  background: #F7F7F7;
  position: relative;
  padding-bottom: 210px;
}

.left-content-section .add-camera {
  position: absolute;
  width: 202px;
  bottom: 140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.app-content-section {
  width: 100%;
  padding: 0 30px 0 30px;
}

/* camera list section */
.cams-list .scroll-container {
  overflow: auto;
  max-height: 630px;
}

.cams-list .cams-list-title {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  padding: 14px 0 16px 0;
  color: rgba(0, 0, 0, 0.56);
}

.cams-list .cams-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 12px 18px 16px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

.cams-list .cams-list-item.active {
  background: #ffffff;
  border-right: 1px solid #EBEBEB;
}

.cams-list .camera-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 61px;
  background-color: #EBEBEB;
  border-radius: 4px;
  margin: 5px 14px 0 0;
  overflow: hidden;
}

.cams-list .camera-info-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cams-list .camera-info-container .camera-title {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.56);
}

.cams-list .camera-options {
  margin: 6px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cams-list .camera-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cams-list .camera-tools .tool-button {
  margin: 0 0 0 18px;
}

.cams-list .camera-tools .tool-button:first-child {
  margin-left: 0;
}

/* End camera list section */
/* thumbnails list */
.thumbnails-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.thumbnails-list .thumbnails-list-item {
  padding: 7px 7.5px 7px 7.5px;
  width: 215px;
  margin-bottom: 20px;
  cursor: pointer;
}

.thumbnails-list .thumbnails-list-item .item-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 112.5px;
  background: #EBEBEB;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.thumbnails-list .thumbnails-list-item .item-preview img {
  min-width: 52.5px;
}

.thumbnails-list .thumbnails-list-item .info {
  margin: 4.5px 0 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumbnails-list .thumbnails-list-item.active {
  background: #828282;
}

.thumbnails-list .thumbnails-list-item.active .info {
  color: rgba(0, 0, 0, 0.56);
}

.thumbnails-list .thumbnails-list-item.active .tool-button-delete-svg svg path {
  fill: rgba(0, 0, 0, 0.56);
}

/* End thumbnails list */
/* camera form */
.camera-form {
  width: 550px;
  margin: 20px auto 0 auto;
}

.camera-form .field-item {
  margin-bottom: 20px;
}

.camera-form form {
  margin: 25px 0 0 0;
}

.camera-form form.create-clip-form {
  margin-top: 32px;
}

.camera-form form.create-clip-form .camera-form-buttons {
  margin-top: 22px;
}

.camera-form .camera-form-three-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.camera-form .camera-form-three-inputs .field-item {
  margin-left: 14px;
}

.camera-form .camera-form-three-inputs .field-item:first-child {
  margin-left: 0;
}

.camera-form .camera-settings-list {
  margin: 20px 0 20px 0;
}

.camera-form .camera-form-buttons {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.camera-form .camera-form-buttons .button {
  margin-left: 24px;
  width: 140px;
}

.camera-form .camera-form-buttons .button:first-child {
  margin-left: 0;
}

.camera-form .camera-form-two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.camera-form .camera-form-two-columns .camera-form-column {
  margin-left: 22px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.camera-form .camera-form-two-columns .camera-form-column:first-child {
  margin-left: 0;
}

.camera-form .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.56);
  margin: 0 0 17px 0;
}

/* End camera form */
/* flip switch */
.flipswitch {
  position: relative;
  width: 64px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.flipswitch input[type=checkbox] {
  display: none;
}

.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #BDBDBD;
  border-radius: 16px;
  margin: 0;
}

.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  font-size: 12px;
  line-height: 30px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flipswitch-inner:before {
  content: "on";
  padding-left: 10px;
  background-color: #EBEBEB;
  color: rgba(0, 0, 0, 0.56);
}

.flipswitch-inner:after {
  content: "off";
  padding-right: 10px;
  background-color: #FFFFFF;
  color: #999999;
  text-align: right;
}

.flipswitch-switch {
  width: 20px;
  height: 20px;
  margin: 6px;
  background: #DEDEDE;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
  background: #BDBDBD;
}

/* End flip switch */
.left-content-section-bottom-container {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.left-content-section-bottom-container .button {
  width: 202px;
}

.main-camera-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 27px 0 0 0;
}

.main-camera-info-container .main-camera-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-camera-info-container .camera-info {
  margin: 0 0 0 33px;
  font-size: 20px;
  line-height: 20px;
}

.main-camera-info-container .camera-info .camera-title {
  color: rgba(0, 0, 0, 0.56);
  font-size: 36px;
  line-height: 24px;
}

.main-camera-info-container .camera-info .camera-target {
  margin: 10px 0 0 0;
}

.main-camera-info-container .camera-info .camera-options {
  margin: 16px 0 0 0;
}

.main-camera-info-container .camera-info .camera-settings-list {
  margin-top: 28px;
}

.thumbnails-section {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thumbnails-section .thumbnails-path-container {
  min-width: 150px;
}

.thumbnails-section .path-list {
  margin: 20px 0 0 0;
}

.thumbnails-section .path-list .path-item {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

.thumbnails-section .path-list .path-item:before {
  content: '';
  width: 22px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/folder.svg) no-repeat left top;
}

.thumbnails-section .path-list .path-item:first-child {
  margin-top: 0;
}

.thumbnails-section .path-list .path-item.active::before {
  background: url(../img/folder-open.svg) no-repeat left top;
}

.thumbnails-section .thumbnails-list {
  margin: 34px 0 0 58px;
}

.recorded-clips-section .recorded-clips-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recorded-clips-section .thumbnails-list {
  margin-top: 12px;
}

.popup-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

@media only screen and (max-height: 800px) {
  .popup-overlay {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 40px 0 40px 0;
  }
}

.popup {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 24px 38px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 24px 38px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  position: relative;
}

.popup .popup-close {
  position: absolute;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.popup .popup-close:after, .popup .popup-close:before {
  content: '';
  position: absolute;
  border-radius: 5px;
  background: #C4C4C4;
  height: 42px;
  width: 4px;
  top: 0;
  left: 18px;
}

.popup .popup-close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup .popup-close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup.popup-big {
  padding: 54px 34px 68px 34px;
}

.popup.popup-big .popup-close {
  top: 12px;
  right: 19px;
}

.popup.popup-small {
  padding: 20px 64px 22px 64px;
}

.popup.popup-small .popup-close {
  top: 12px;
  right: 15px;
  height: 28px;
  width: 28px;
}

.popup.popup-small .popup-close:after, .popup.popup-small .popup-close:before {
  content: '';
  height: 28px;
  width: 3px;
  left: 18px;
}

.popup .popup-item-info {
  margin: 17px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup .popup-item-info p {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #828282;
  margin: 4px 0 0 0;
}

.popup .popup-slider {
  width: 1115px;
  position: relative;
}

.popup .popup-slider .slider-content {
  width: 960px;
  margin: 0 auto;
}

.popup .popup-slider .slider-item {
  width: 960px;
}

.popup .popup-slider .slider-item-image {
  width: 960px;
  height: 540px;
  overflow: hidden;
  border-radius: 4px;
}

.popup .popup-slider .prev, .popup .popup-slider .next {
  width: 43px;
  height: 115px;
  position: absolute;
  top: 204px;
  cursor: pointer;
}

.popup .popup-slider .prev {
  background: url(../img/popup-slider-prev.svg) no-repeat left center;
  background-size: contain;
  left: 0;
}

.popup .popup-slider .next {
  background: url(../img/popup-slider-next.svg) no-repeat right center;
  background-size: contain;
  right: 0;
}

.popup .popup-slider .popup-item-info .button {
  width: 160px;
  height: 50px;
}

.popup .popup-video {
  width: 832px;
  margin: 0 auto;
}

.popup .popup-video .video-container {
  overflow: hidden;
  width: 832px;
  height: 560px;
  margin: 0 auto;
}

.popup .popup-video .popup-item-info {
  margin: 15px 0 0 0;
}

.popup .popup-video .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup .popup-video .buttons .button {
  margin-left: 29px;
}

.popup .popup-video .buttons .button:first-child {
  margin-left: 0;
}

.popup .popup-video .buttons .video-delete {
  width: 140px;
}

.popup .popup-video .buttons .video-download {
  width: 130px;
}
/*# sourceMappingURL=style.css.map */