

$textColor: #999999;
$greyColor: #EBEBEB;
$darkGreyColor: #6A6A6A;
$rgbaGreyColor: rgba(0, 0, 0, 0.56);


@mixin text-content-styles {
	max-width: $text-width;
	//padding-left: 15px;
	//padding-right: 15px;
}

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

html {
	//height:100%;	
}
body {
	//height:100%;
    font-family: 'Open Sans', sans-serif;
    color: $textColor;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	//background: #E5E5E5;
}

p {
	margin: 0;
}

h2 {
	margin: 0;
	font-size: 36px;
	line-height: 24px;
	color: $rgbaGreyColor;
	font-weight: normal;
}

h3 {
	font-weight: 600;
	font-size: 22px;
	line-height: 20px;
	color: $darkGreyColor;
	margin: 0;
}

label {
	display: block;
	font-size: 16px;
	line-height: 24px;
	color: $rgbaGreyColor;
	margin-bottom: 2px;
}

input[type="text"], input[type="email"] {
	display: block;
	width: 100%;
	height: 40px;
	padding: 10px 16px 10px 16px;
	border: 1px solid #BDBDBD;
	border-radius: 2px;
	font-size: 14px;
	line-height: 20px;
	color: $textColor;
}

.display-flex {
    display: flex;
}

.full-width {
    width: 100%;
}

.none {
	display: none;
}

/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:block;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	display: block;
	max-width: 100%;
	vertical-align: bottom;
}

.fit-image {
	object-fit: cover;
	width: 100%;
	max-height: 100%;
}

input:focus {
	outline:0;
}

header, footer {
	display: block;
}

.delimiter-line {
	height: 3px;
	background: #DADADA;
	margin: 28px 0 12px 0;
}

/* buttons */
.tool-button {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.tool-button-edit {
	background: url(../img/edit.svg) no-repeat center;
}

.tool-button-delete {
	background: url(../img/delete.svg) no-repeat center;
}

.tool-button-delete-svg {
	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.button {
	border: 1px solid $textColor;
	display: flex;
	height: 40px;
	align-items: center;
	justify-content: center;
	padding: 0 17px 0 17px;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: $textColor;
	border-radius: 20px;
	position: relative;
	cursor: pointer;
	text-decoration: none;

	&.button-add {
		padding-right: 50px;
	}

	.add-icon {
		position: absolute;
		width: 22px;
		height: 22px;
		top: 50%;
		right: 17px;
		transform: translateY(-50%);

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 100%;
			height: 4px;
			border-radius: 6px;
			background: $textColor;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 4px;
			height: 100%;
			transform: translateX(-50%);
			border-radius: 6px;
			background: $textColor;
		}
	}

	&.button-grey {
		border-color: #DEDEDE;
		background: $greyColor;
	}

	&.button-small {
		height: 30px;
		padding: 0 9px 0 9px;
		
		&.button-add {
			padding-right: 28px;
		}

		.add-icon {
			right: 9px;
			width: 14px;
			height: 14px;
		}
	}
}
/* End buttons */

/* Camera options */
.camera-options {
	display: flex;
	align-items: flex-start;
	.camera-status {
		position: relative;
		padding: 0 32px 0 0;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			width: 14px;
			height: 14px;
			border-radius: 100%;
			transform: translateY(-50%);
		}

		&.camera-status-on {
			&::after {
				background: #00BF2A;
			}
		}

		&.camera-status-off {
			&::after {
				background: #BF0000;
			}
		}
	}	
}
/* End camera options */

/* camera settings list */
.camera-settings-list {
	.camera-settings-item {
		display: flex;
		align-items: center;
		margin-top: 10px;
		justify-content: space-between;

		&:first-child {
			margin-top: 0;
		}
	}

	.camera-settings-title {
		font-size: 22px;
		line-height: 20px;
		color: $darkGreyColor;
	}

	.camera-setting-status {
		margin-left: 20px;
	}
}
/* End camera settings list */
.app-container {
	margin: 0 auto;
	//max-width: 1440px;
	min-width: 1200px;
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.left-content-section {
	min-width: 320px;
	background: #F7F7F7;
	position: relative;
	
	display: flex;
	flex-direction: column;

	.cams-list {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		//flex: 1;
		overflow: hidden;
	}

	.container-for-button {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		//flex: 1;
		align-items: center;
		justify-content: center;
		padding: 40px 0 40px 0;
	}

	.add-camera {
		width: 202px;
	}
}

.app-content-section {
	//width: 1060px;
	width: 100%;
	//height: 100vh;
	padding: 0 30px 0 30px;
	overflow: auto;
}

/* camera list section */
.cams-list {
	.scroll-container {
		overflow: auto;
		max-height: 630px;
	}

	.cams-list-title {
		text-align: center;
		font-size: 24px;
		line-height: 24px;
		padding: 14px 0 16px 0;
		color: $rgbaGreyColor;
	}

	.cams-list-item {
		display: flex;
		width: 100%;
		padding: 15px 12px 18px 16px;
		border-top: 1px solid $greyColor;
		border-bottom: 1px solid $greyColor;

		&.active {
			background: #ffffff;
			border-right: 1px solid $greyColor;
		}
	}

	.camera-preview {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 61px;
		background-color: $greyColor;
		border-radius: 4px;
		margin: 5px 14px 0 0;
		overflow: hidden;
	}

	.camera-info-container {
		flex-grow: 1;
		.camera-title {
			font-size: 16px;
			line-height: 24px;
			color: $rgbaGreyColor;
		}
	}

	.camera-options {
		margin: 6px 0 0 0;
		justify-content: space-between;
	}

	.camera-tools {
		display: flex;
		.tool-button {
			margin: 0 0 0 18px;
			&:first-child {
				margin-left: 0;
			}
		}	
	}
}
/* End camera list section */

/* thumbnails list */
.thumbnails-list {
	display: flex;
	flex-wrap: wrap;
	.thumbnails-list-item {
		padding: 7px 7.5px 7px 7.5px;
		width: 215px;
		margin-bottom: 20px;
		cursor: pointer;

		.item-preview {
			display: flex;
			height: 112.5px;
			background: $greyColor;
			border-radius: 4px;
			align-items: center;
			justify-content: center;
			overflow: hidden;	
			
			img {
				min-width: 52.5px;
			}
		}

		.info {
			margin: 6.5px 0 0 4px;
			display: flex;
			justify-content: space-between;
		}

		&.active {
			background: #828282;
			.info {
				color: $rgbaGreyColor;
			}
			.tool-button-delete-svg {
				svg {
					path {
						fill: $rgbaGreyColor;
					}
				}
			}	
		}
	}
}
/* End thumbnails list */

/* camera form */
.camera-form {
	width: 550px;
	margin: 20px auto 0 auto;

	.field-item {
		margin-bottom: 20px;
	}

	form {
		margin: 25px 0 0 0;
		&.create-clip-form {
			margin-top: 32px;	
			.camera-form-buttons {
				margin-top: 22px;
			}
		}
	}

	.camera-form-three-inputs {
		display: flex;

		.field-item {
			margin-left: 14px;
			&:first-child {
				margin-left: 0;
			}
		}
	}

	.camera-settings-list {
		margin: 20px 0 20px 0;	
	}

	.camera-form-buttons {
		margin-top: 48px;
		display: flex;
		justify-content: flex-end;

		.button {
			margin-left: 24px;
			width: 140px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.camera-form-two-columns {
		display: flex;
		.camera-form-column {
			margin-left: 22px;
			flex-grow: 1;
			&:first-child {
				margin-left: 0;
			}
		}
	}

	.title {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: $rgbaGreyColor;
		margin: 0 0 17px 0;
	}
}
/* End camera form */
/* flip switch */
.flipswitch {
	position: relative;
	width: 64px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.flipswitch input[type=checkbox] {
display: none;
}
.flipswitch-label {
display: block;
overflow: hidden;
cursor: pointer;
border: 1px solid #BDBDBD;
border-radius: 16px;
margin: 0;
}
.flipswitch-inner {
width: 200%;
margin-left: -100%;
-webkit-transition: margin 0.3s ease-in 0s;
-moz-transition: margin 0.3s ease-in 0s;
-ms-transition: margin 0.3s ease-in 0s;
-o-transition: margin 0.3s ease-in 0s;
transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
float: left;
width: 50%;
height: 30px;
padding: 0;
font-size: 12px;
line-height: 30px;
color: white;
font-family: Trebuchet, Arial, sans-serif;
font-weight: bold;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.flipswitch-inner:before {
content: "on";
padding-left: 10px;
background-color: $greyColor;
color: $rgbaGreyColor;
}
.flipswitch-inner:after {
content: "off";
padding-right: 10px;
background-color: #FFFFFF;
color: $textColor;
text-align: right;
}
.flipswitch-switch {
width: 20px;
height: 20px;
margin: 6px;
background: #DEDEDE;
border-radius: 100%;
position: absolute;
top: 0;
bottom: 0;
right: 30px;
-webkit-transition: all 0.3s ease-in 0s;
-moz-transition: all 0.3s ease-in 0s;
-ms-transition: all 0.3s ease-in 0s;
-o-transition: all 0.3s ease-in 0s;
transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
right: 0;
background: #BDBDBD;
}
  
/* End flip switch */

.left-content-section-bottom-container {
	padding: 20px 0 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;

	.button {
		width: 202px;
	}
}

.main-camera-info-container {
	display: flex;
	margin: 27px 0 0 0;

	.main-camera-preview {
		display: flex;
		width: 420px;
		justify-content: center;
		align-items: center;
	}

	.camera-info {
		margin: 0 0 0 33px;
		font-size: 20px;
		line-height: 20px;

		.camera-title {
			color: $rgbaGreyColor;
			font-size: 36px;
			line-height: 24px;
		}

		.camera-target {
			margin: 10px 0 0 0;
		}

		.camera-options {
			margin: 16px 0 0 0;
		}

		.camera-settings-list {
			margin-top: 28px;
		}
	}
}

.thumbnails-section {
	margin: 20px 0 0 0;
	display: flex;
	
	.thumbnails-path-container {
		min-width: 150px;

	}
	.path-list {
		margin: 20px 0 0 0;
		.path-item {
			margin-top: 8px;
			font-size: 16px;
			line-height: 24px;
			position: relative;
			padding: 0 0 0 35px;
			cursor: pointer;
			&:before {
				content: '';
				width: 22px;
				height: 18px;
				position: absolute;
				top: 0;
				left: 0;
				background: url(../img/folder.svg) no-repeat left top;
			}

			&:first-child {
				margin-top: 0;
			}

			&.active {
				&::before {
					background: url(../img/folder-open.svg) no-repeat left top;	
				}	
			}
		}
	}
	
	.thumbnails-list {
		margin: 34px 0 0 58px;
		//width: 800px;
	}
}

.recorded-clips-section {
	.recorded-clips-title-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.thumbnails-list {
		margin-top: 12px;
	}
}

.popup-overlay {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.4);

	justify-content: center;
	align-items: center;
	overflow: auto;

	@media only screen and (max-height: 800px) {
		align-items: flex-start;
		padding: 40px 0 40px 0;	
	}

}

.popup {
	background: #FFFFFF;
	box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 24px 38px rgba(0, 0, 0, 0.14);
	border-radius: 4px;
	position: relative;
	.popup-close {
		position: absolute;
		width: 42px;
		height: 42px;
		cursor: pointer;

		&:after, &:before {
			content: '';
			position: absolute;
			border-radius: 5px;
			background: #C4C4C4;
			height: 42px;
			width: 4px;
			top: 0;
			left: 18px;
		}

		&:after {
			transform: rotate(45deg);
		}

		&:before {
			transform: rotate(-45deg);
		}
	}

	&.popup-big {
		padding: 54px 34px 68px 34px;
		.popup-close {
			top: 12px;
			right: 19px;
		}	
	}

	&.popup-small {
		padding: 20px 64px 22px 64px;
		.popup-close {
			top: 12px;
			right: 15px;
			height: 28px;
			width: 28px;

			&:after, &:before {
				content: '';
				height: 28px;
				width: 3px;
				left: 18px;
			}
		}
	}
	
	.popup-item-info {
		margin: 17px 0 0 0;
		display: flex;
		justify-content: space-between;

		p {
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			color: #828282;
			margin: 4px 0 0 0;
		}
	}

	.popup-slider {
		width: 1115px;
		position: relative;

		.slider-content {
			width: 960px;
			margin: 0 auto;
		}

		.slider-item {
			width: 960px;	
		}

		.slider-item-image {
			width: 960px;
			height: 540px;
			overflow: hidden;
			border-radius: 4px;
		}

		.prev, .next {
			width: 43px;
			height: 115px;
			position: absolute;
			top: 204px;
			cursor: pointer;
			
		}

		.prev {
			background: url(../img/popup-slider-prev.svg) no-repeat left center;
			background-size: contain;
			left: 0;
		}

		.next {
			background: url(../img/popup-slider-next.svg) no-repeat right center;
			background-size: contain;
			right: 0;
		}

		.popup-item-info {
			.button {
				width: 160px;
				height: 50px;
			}
		}
	
	}

	.popup-video {
		width: 832px;
		margin: 0 auto;

		.video-container {
			overflow: hidden;
			width: 832px;
			height: 560px;
			margin: 0 auto;
		}

		.popup-item-info {
			margin: 15px 0 0 0;
		}

		.buttons {
			display: flex;
			.button {
				margin-left: 29px;

				&:first-child {
					margin-left: 0;
				}
			}

			.video-delete {
				width: 140px;
			}

			.video-download {
				width: 130px;
			}
		}
	}
}